<!DOCTYPE html>
<html lang="en" class="app">
<head>
  <meta charset="utf-8" />
  <title>Notebook | Web Application</title>
  <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
  <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="../css/animate.css" type="text/css" />
  <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="../css/font.css" type="text/css" />
  <link rel="stylesheet" href="../js/calendar/bootstrap_calendar.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" type="text/css"/>
  <link rel="stylesheet" href="../js/fuelux/fuelux.css" type="text/css" />
  <link rel="stylesheet" href="../js/datepicker/datepicker.css" type="text/css" />
<link rel="stylesheet" href="../js/datepicker/datepicker.css" type="text/css" />
  <link rel="stylesheet" href="../css/app.css" type="text/css" />
  <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyAOVX_8q5S-2nV_E5aN1_pp1MMUQjOibHQ",
        authDomain: "msolution-90e6e.firebaseapp.com",
        databaseURL: "https://msolution-90e6e.firebaseio.com",
        projectId: "msolution-90e6e",
        storageBucket: "msolution-90e6e.appspot.com",
        messagingSenderId: "746401686761"
    };
    firebase.initializeApp(config);

    firebase.auth().onAuthStateChanged(firebaseUser => {
        if(firebaseUser) {
          $('#cUserName').text(firebaseUser.displayName);
          $('#photoProfile').attr('src',firebaseUser.photoURL);
          console.log(firebaseUser.photoURL);
        } else {
          window.location.href = "/";
        }
      });
  </script>

  <!--[if lt IE 9]>
    <script src="js/ie/html5shiv.js"></script>
    <script src="js/ie/respond.min.js"></script>
    <script src="js/ie/excanvas.js"></script>
  <![endif]-->
</head>
<body>
  <section class="vbox">
    {{> header }}
    <section>
      <section class="hbox stretch">
        <!-- .aside -->
        {{> sidebar }}
        <!-- /.aside -->
        <section id="content">
          {{{body}}}
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
        </section>
        <aside class="bg-light lter b-l aside-md hide" id="notes">
          <div class="wrapper">Notification</div>
        </aside>
      </section>
    </section>
  </section>
  <script src="../js/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="../js/bootstrap.js"></script>
  <!-- App -->
  <script src="../js/app.js"></script>
  <script src="../js/app.plugin.js"></script>
  <script src="../js/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="../js/charts/easypiechart/jquery.easy-pie-chart.js"></script>
  <script src="../js/charts/sparkline/jquery.sparkline.min.js"></script>
  <script src="../js/charts/flot/jquery.flot.min.js"></script>
  <script src="../js/charts/flot/jquery.flot.tooltip.min.js"></script>
  <script src="../js/charts/flot/jquery.flot.resize.js"></script>
  <script src="../js/charts/flot/jquery.flot.grow.js"></script>
  <script src="../js/charts/flot/demo.js"></script>

  <!-- fuelux -->
  <script src="../js/fuelux/fuelux.js"></script>
  <!-- datepicker -->
  <script src="../js/datepicker/bootstrap-datepicker.js"></script>
  <!-- slider -->
  <script src="../js/slider/bootstrap-slider.js"></script>
  <!-- file input -->  
  <script src="../js/file-input/bootstrap-filestyle.min.js"></script>
  <!-- combodate -->
  <script src="../js/libs/moment.min.js"></script>
  <script src="../js/combodate/combodate.js"></script>
  <!-- select2 -->
  <script src="../js/select2/select2.min.js"></script>
  <!-- wysiwyg -->
  <script src="../js/wysiwyg/jquery.hotkeys.js"></script>
  <script src="../js/wysiwyg/bootstrap-wysiwyg.js"></script>
  <script src="../js/wysiwyg/demo.js"></script>
  <!-- markdown -->
  <script src="../js/markdown/epiceditor.min.js"></script>

  <script src="../js/calendar/bootstrap_calendar.js"></script>
  <script src="../js/calendar/demo.js"></script>

  <script src="../js/sortable/jquery.sortable.js"></script>

<script src="../js/app/main/script.js"></script>

</body>
</html>