<section class="vbox">
  <section class="scrollable padder">
    <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
      <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="#">Definições</a></li>
      <li><a class="active">Departamento</a></li>
    </ul>
    <div class="m-b-md">
      <h3 class="m-b-none">Departamento & Cargo</h3>
    </div>

  </section>
</section>